.form-popup__SMS {
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #D5D5D6;
  height: 50px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #90EE90;
}

.form-popup__SMS--close-button {
  width: 22px;
  height: 22px;
  font-size: 14px;
  background-color: #F3F4F6;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  top: 4px;
  right: 3px;
}